<button (click)="addAnnotation()">Click</button>
<div class="lyrics-page">
  <div class="container">
    <div class="action-box" [style.backgroundColor]="songColor">
      <ng-container [ngSwitch]="isEditing">
        <hero-icon
          *ngSwitchCase="false"
          (click)="onEditClick()"
          name="pencil-alt"
          class="w-7 h-7"
        ></hero-icon>
        <hero-icon
          *ngSwitchCase="true"
          (click)="onStopEditClick()"
          name="x"
          class="w-7 h-7"
        ></hero-icon>
      </ng-container>
      <hero-icon
        (click)="onAnnotationClick()"
        name="annotation"
        class="w-7 h-7"
      ></hero-icon>
    </div>
    <ng-container [ngSwitch]="isEditing">
      <div id="lyrics" *ngSwitchCase="false" class="lyrics"></div>
      <div *ngSwitchCase="true" class="lyrics">
        <button (click)="onAnnotationClick()">annotation</button>

        <angular-editor
          [placeholder]="'Enter text here...'"
          [(ngModel)]="htmlContent"
          [config]="config"
        ></angular-editor>
      </div>
    </ng-container>
    <div *ngIf="!selectedAnnotiationId" class="annotiation-box">
      <app-annotations
        [selectedAnnotiationId]="selectedAnnotiationId"
      ></app-annotations>
    </div>
  </div>
</div>
