//Primary
@font-face {
  font-family: "Primary-light";
  src: url("../fonts/primary/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Primary-Medium";
  src: url("../fonts/primary/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Primary-Bold";
  src: url("../fonts/primary/OpenSans-Bold.ttf");
}

//Secondary
@font-face {
  font-family: "Secondary";
  src: url("../fonts/secondary/SpecialElite-Regular.ttf");
}

//Accent
@font-face {
  font-family: "Accent";
  src: url("../fonts/accent/CarterOne-Regular.ttf");
}

//Special
@font-face {
  font-family: "Special";
  src: url("../fonts/special/Monoton-Regular.ttf");
}
