<div class="auth-page">
  <div class="auth-wrapper">
    <div class="toggle-form">
      <h2 class="heading" (click)="changeRoute()">Sign In</h2>
      <h2 class="heading" id="registerHeading">Sign Up</h2>
    </div>
    <form [formGroup]="form" class="form mt-6" (ngSubmit)="onAddUser()">
      <div>
        <label for="username" class="label">Username</label>
        <input formControlName="username" type="text" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="
              form.controls['username'].touched &&
              form.controls['username'].invalid
            "
          >
            Invalid Username.
          </span>
        </div>
      </div>
      <div>
        <label for="email" class="label">Email</label>
        <input formControlName="email" type="email" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="
              form.controls['email'].touched && form.controls['email'].invalid
            "
          >
            Invalid Email.
          </span>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input formControlName="password" type="password" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="
              form.controls['password'].touched &&
              form.controls['password'].invalid
            "
          >
            Invalid Password.
          </span>
        </div>
      </div>
      <div>
        <label for="comfirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="form.errors?.['notMatched'] && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty)"
          >
            Passwords do not match.
          </span>
        </div>
      </div>
      <div class="mt-4">
        <div class="mt-6 grid">
          <button class="accent" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
