<div id="container">
  <div class="nav active" #nav>
    <ul>
      <div class="router">
        <li>
          <h2>Cypher</h2>
        </li>
        <li *ngFor="let song of songs$ | async">
          <a
            [routerLink]="['/lyrics/' + song.id]"
            routerLinkActive="router-link-active"
            >{{ song.songName }}</a
          >
        </li>
      </div>

      <!-- <div class="account">
        <ng-container *ngIf="user$ | async as user; else signInButton">
          <div>
            <a
              [routerLink]="['/user/profile']"
              routerLinkActive="router-link-active"
              class="block"
            >
              <img
                [src]="
                  user.photoUrl ??
                  '../../assets/images/placeholders/image-placeholder.png'
                "
                [alt]="user.displayName"
              />
            </a>
          </div>
          <button (click)="onSignOut()">Sign Out</button>
        </ng-container>
        <ng-template #signInButton>
          <button (click)="onSignIn()">Sign In</button>
        </ng-template>
      </div> -->
    </ul>
    <div class="icon">
      <i class="bx bxs-chevrons-left rotate-90" (click)="navOpen()"></i>
    </div>
  </div>
</div>
