<div class="auth-page">
  <div class="auth-wrapper">
    <div class="toggle-form">
      <h2 class="heading" id="loginHeading">Sign In</h2>
      <h2 class="heading" (click)="changeRoute()">Sign Up</h2>
    </div>
    <form class="form mt-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="label">Email</label>
        <input type="email" formControlName="email" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="
              form.controls['email'].touched && form.controls['email'].invalid
            "
          >
            Invalid Email.
          </span>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
        <div class="error">
          <span
            class="errorMsg"
            *ngIf="
              form.controls['password'].touched &&
              form.controls['password'].invalid
            "
          >
            Invalid Password.
          </span>
        </div>
      </div>
      <div class="mt-4">
        <div class="mt-6 grid">
          <button class="accent" type="submit">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>
