<section
  [style.backgroundImage]="'url(' + song?.coverImageUrl + ')'"
  [style.backgroundColor]="song?.color"
  class="cover"
>
  <div class="song-box">
    <div class="song-image">
      <img src="{{song?.coverImageUrl}}" alt="{{ song?.songName }}" />
    </div>
    <div class="song-description">
      <h3 class="title">{{ song?.songName }}</h3>
      <h4 class="artist">{{ song?.artistName }}</h4>
      <ng-container *ngIf="artists?.length">
        <ng-container *ngFor="let artist of artists">
          <span class="pseudonym" *ngIf="artist.pseudonyms"
            >{{ artist.pseudonyms[0] }},
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
