<section
  [style.backgroundImage]="'url(' + song?.coverImageUrl + ')'"
  [style.backgroundColor]="song?.color"
  class="cover"
>
  <div class="song-box">
    <div class="song-image">
      <img src="{{ song?.coverImageUrl }}" alt="{{ song?.songName }}" />
    </div>
    <div class="song-description">
      <h3 class="title">{{ song?.songName }}</h3>
      <h4 class="artist">{{ song?.artistName }}</h4>

      <ng-container *ngFor="let artist of artists">
        <span class="pseudonym" routerLink="/artists/{{ artist.id }}/view">
          {{ artist.pseudonyms ? artist.pseudonyms[0] : artist.firstName }}
        </span>
      </ng-container>
    </div>
  </div>
</section>
